{% extends "base.html.twig" %}
{% block body %}
    <h1>Welcome to {{ project_name|upper }}.</h1>
{% endblock %}
{% block header %}
	<ul>
		<a href="/"><li>Acceuil</li></a>
		<a href="/hello"><li>hello</li></a>
		<a href="/product"><li>product</li></a>
		
	</ul>
{% endblock %}