{% extends "base.html.twig" %}
{% block body %}

    <h2>Vos tickets</h2>
	<table class="table">
        <tr>
            <th>Intitule</th>
            <th>Date</th>
            <th>poste</th>
            <th>Action</th>
        </tr>
        {% for tick in ticket %}
            <tr>
                <td>{{ tick.intitule }}</td>
                <td>{{ tick.intitule }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No content available</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}