h1{
	text-align: center;
}

#Logo{
	height:60px;
	width:60px;
	top: 0;

}

h2{
	text-align: center;
}

figure{
	position: absolute;
	width: 60px;
	top:0;
	margin: 0px;
	margin-top: 5px;
}

footer{
	text-align: center;
	position: absolute;
	bottom: 10%;
}