<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Assistance info J&amp;S{% endblock %}</title>
        {% block stylesheets %}<link href="{{ asset('css/style.css') }}">{% endblock %}
    </head>
    <body>
		{% block header %}<img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Logo" height="42" width="42"><h1>Jone &amp; Smith</h1>{% endblock %}
        {% block body %}{% endblock %}
		<footer>
            <hr/>
            
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>

