<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Assistance info J&amp;S{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

		{% block header %}<figure>

                              <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Logo" id="Logo">

                              <figcaption>J&amp;S Inc</figcaption>

                         </figure><h1 id="title">Jone &amp; Smith</h1><hr/>{% endblock %}

        {% block body %}{% endblock %}

		<footer>
            <hr/>
            <h2>&copy;Copyright 2018</h2>

        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>

