<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Assistance info J&amp;S{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

		{% block header %}<header><figure>

                              <img src="https://seeklogo.com/images/J/js-design-logo-56364565BE-seeklogo.com.png" alt="Logo" id="Logo">

                              <figcaption>J&amp;S Inc</figcaption>

                         </figure><h1 id="title">Jone &amp; Smith</h1><hr/></header>{% endblock %}

        {% block body %}{% endblock %}

		<footer>
            <hr/>
            <div id="footer"><p>&copy;Copyright 2018</p><p>Tel : 0x xx xx xx xx</p><p>Mail : Jone&amp;Smith@service.fr</p></div>

        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>

